*{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}
header {
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    z-index: 5000;
}
header img{
    height: 75px;
}
    header ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:baseline;
        list-style-type: none;
    }
    header .list-item a{
        text-decoration: none;
        font-size: 28px;
        font-weight: 400;
        color: white;
        padding: 12px;
    }
        header .list-item a:hover{
            color: #f8ca32;
        }
            header .list-item a:active{
                background-color: black;
            }
    header .logo-a a{
        font-size: 48px;
        padding: 12px 0px 12px 12px;
        font-family: "adobe-caslon-pro", serif;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
        header .logo-a a:hover{
            color: white;
        }
    header .logo-b a{
        font-size: 48px;
        padding: 12px 12px 12px 0px;
        font-family: "helvetica", sans-serif;
        font-weight: 900;
        font-style: normal;
        color: red;
    }
        header .logo-b a:hover{
            color: red;
}
#hero {
    height: 600px;
    background-image: url(../images/Industry.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    padding: 0px 60px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    #hero h1 {
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 12px;
        color: #f8ca32;
    }
    #hero p {
        color: #f8ca32;
        font-size: 32px;
        margin-bottom: 32px;        
        background-color: rgba(0,0,0,0.7);
    }
    #hero a {
        background-color: white;
        padding: 12px 24px;
        border-radius: 8px;
        color: darkblue;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        width: fit-content;
    }
        #hero a:hover {
            background-color: #f8ca32;
            border: 1px solid darkblue;
        }
            #hero a:active {
                background-color: darkred;
                color: white;
                border: 1px solid darkblue;
            }
.servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .servicios h2 {
        color: darkblue;
        font-weight: 700;
        font-size: 65px;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .servicios .contenedor-servicios {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor-servicios .servicio {
        width: 20%;
        padding: 20px;
        font-size: 28px;
    }
#producto-destacado {
    display: flex;
    flex-direction: row;
}
#producto-destacado .contenedor-imagen,
#producto-destacado .contenedor-servicios{
    width: 50%;
}
#producto-destacado .contenedor-imagen {
    height: 100%;
    width: auto;
    object-fit: fill;
    background-color: darkblue;
}
#producto-destacado .contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: crimson;
    color: white;
    padding: 24px;
    font-size: 32px;
    width: auto;
}
.contenedor-texto a {
background-color: white;
    padding: 12px 24px;
    border-radius: 8px;
    color: darkblue;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    width: fit-content;
}
    .contenedor-texto a:hover {
        background-color: #f8ca32;
        border: 1px solid darkblue;
        }
        .contenedor-texto a:active {
            background-color: darkred;
            color: white;
            border: 1px solid darkblue;
            }
footer {
    background-color: black;
    color: white;
    width: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.footerAA {
    font-family: "adobe-caslon-pro", serif;
    padding: 0px 14px 0px 14px;
}
#galeriaProyectos {
    background-image: url(../images/RocketFac.jpg);
    background-size:cover;    
    padding-top: 100px;
    height: 84vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px auto auto auto 35px;
    grid-template-areas: 
    "type top top top"
    "type projects projects aside"
    "type projects projects aside"
    "type projects projects aside"
    "bottom bottom bottom bottom"
    ;
    column-gap: 30px;
    row-gap: 30px;
}
#galeriaProyectos h2{
    color: #f8ca32;
}
#galeriaProyectos h3{
    color: #f8ca32;
}
#galeriaProyectos p{
    color: white;
}
    #galeriaProyectos #top {
        background-color:rgba(0, 0, 0, 0.7);
        grid-area: top;
        color: #f8ca32;
        text-align:left;
        padding-top: 12px;
        padding-left: 24px;
    }
    #galeriaProyectos #type {
        background-color:rgba(0, 0, 0, 0.7);
        grid-area: type;
        text-align: center;
        padding-top: 12px;
    }
        #galeriaProyectos #type h2{
            text-align: center;                
            padding-top: 12px;
        }
        #galeriaProyectos #type h3{
            text-align: center;
            padding-top: 12px;
        }
        #galeriaProyectos #type ul{
            text-align: center;
            color: white;
            padding: 12px 0;
        }
    #galeriaProyectos #projects {
        background-color:rgba(0, 0, 0, 0.7);
        grid-area: projects;
        color: #f8ca32;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 12px;
        justify-content:center ;
        align-content: space-between;
    }
    #galeriaProyectos #projects .project{
    margin: 6px;
    width: 30%;
    height: 30%;
    background-color: rgba(200, 200, 200, 0.30);
    border-radius: 8px;
    text-align: center;
    }
    #galeriaProyectos #aside {
        background-color:rgba(0, 0, 0, 0.7);
        grid-area: aside;
        padding: 9px;
    }
    #galeriaProyectos #bottom {
        background-color:rgba(0, 0, 0, 0.7);
        grid-area: bottom;
        padding-top: 5px;
        text-align: center;
    }
    #sistemas-carousel{
        background-color: black;
        padding-top: 75px;
        color: black;
    }
    #sistemas-carousel .carousel-caption {
        background-color: rgba(0, 0, 0, 0.7);
    }
    #sistemas-carousel img {
        height: 90vh;
        background-size:cover;
    }
    #arquitectura{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        align-items: center;
    }
    #arquitectura img{
        margin-top: 70px;
    }
    #arquitectura p{
        color: red;
        font-size: 40px;
        font-weight: 700;
    }
    #contacto{
        height: 95vh;
        background-image: url(../images/contacto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 83px;
        padding-left: 40px;
        color: #f8ca32;
    }
@media (max-width:576px) and (orientation:portrait){
    header {
        height: 50px;  
        width: 100vw;
        justify-content:baseline;
        align-items:center;
        background-color: rgba(0,0,0,0.7);
    }
    header img {
        display: none;
    }
    header ul {
        text-align: center;    
    }
    header .list-item a{
        font-size: 12px;
        font-weight: 400;
        padding: 3px;
    }
    header .logo-a a{
        font-size: 20px;
        padding-right: 0;
        color: white;
    }
    header .logo-b a{
        font-size: 20px;
        padding-left: 0;
        font-family: "helvetica", sans-serif;
        font-weight: 900;
        color: red;
    }
    #hero {
        height: 550px;
        padding: 0px 35px;  
    }
    #hero h1 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 12px;
        color: yellow;
    }
    #hero p {
        color: yellow;
        font-size: 22px;
        margin-bottom: 24px;
    }
    #hero a {
        background-color: white;
        padding: 8px 16px;
        border-radius: 8px;
        color: darkblue;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        width: fit-content;
    }  
    .servicios h2 {
        font-size: 40px;
        margin-bottom: 18px;
    }
    .servicios .contenedor-servicios {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contenedor-servicios .servicio {
        width: 39%;
        font-size: 20px;
        padding: 5px;
    }
    #producto-destacado {
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }
    #producto-destacado .contenedor-texto {
        padding: 18px;
        font-size: 24px;
    }
    #producto-destacado .contenedor-texto p {
        font-size: 22px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer p{
        text-align: center;
    }
    #galeriaProyectos {
        padding-top: 70px;
        height: 140vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 40px auto auto auto auto auto auto 30px;
        grid-template-areas: 
        "type top top"
        "type projects projects"
        "type projects projects"
        "type projects projects"
        "type projects projects"
        "type projects projects"
        "aside aside aside"
        "bottom bottom bottom";        ;
        column-gap: 10px;
        row-gap: 10px;
    }
    #galeriaProyectos #top {
        padding-top: 4px;
        padding-left: 8px;
        font-size: 14px;
    }
    #galeriaProyectos #type {
        padding-top: 6px;
    }
        #galeriaProyectos #type h2{
            padding-top: 6px;
            font-size: 19px;
        }
        #galeriaProyectos #type h3{
            padding-top: 6px;
            font-size: 16px;
        }
        #galeriaProyectos #type ul{
            padding: 12px 0;
            font-size: 14px;
        }
    #galeriaProyectos #projects {
            padding: 6px;
            justify-content:center ;
            align-content: space-between;
        }
            #galeriaProyectos #projects .project{
            margin: 6px;
            width: 45%;
            height: 18%;
            }
    #galeriaProyectos #aside {
            padding: 6px;
            height:fit-content;
        }
        #galeriaProyectos #aside p{
            font-size: 14px;
            padding-bottom: 10px;

        }
        #galeriaProyectos #bottom {
            padding-top: 8px;
            font-size: 10px;
        }
}

