//COLORES FONDO
$fondo-trans: rgba(0,0,0,0.7);
$fondo-notrans: black;
$fondo-clarotrans: rgba(200, 200, 200, 0.30);

//COLORES TEXTO
$color-acento: #f8ca32;
$color-normal: white;
$color-alternativo: darkblue;
$color-fire: #E60026;

//FONTS
$font-inteli:"adobe-caslon-pro";
$font-fire: "Helvetica";
$font-text:'Barlow';

//FONT SIZE
$h1-sm: 40px;
$h1-md: 60px;
$h1-lg: 75px;

$h2-sm: 30px;
$h2-md: 45px;
$h2-lg: 60px;

$h3-sm: 18px;
$h3-md: 30px;
$h3-lg: 40px;

$p-sm: 11px;
$p-md: 20px;
$p-lg: 26px;